__pycache__
.pytest_cache
*.pyc
.ipynb_checkpoints/
*.o*
dist/
build/
MANIFEST
*.cache
*.png
*.ipynb
*.blend
*.npy
.DS_Store
*.egg-info
run-adsorption-rosenbluth-weights/Output/
run-adsorption-rosenbluth-weights/Restart/
run-adsorption-rosenbluth-weights/VTK/
run-relax-NVT/charges/
2021*
runs*
dump
